*, *::after, *::before {
    box-sizing: border-box;
}
.gaming-table {
    background-color: green;
    border: 3px solid brown;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.deck {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.deck .deck-cards {
    height: 110px;
    width: 80px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem 1.5rem;
    position: relative;
    background-color: #000;
}

.dealer-side {
    margin-bottom: 1rem;
}

.dealer-side, .player-side {
    display: flex;
    justify-content: center;
}

.dealer-side .dealer-cards, .player-side .player-cards {
    display: flex;
    justify-content: center;
}

.dealer-side .dealer-cards .facedown {
    position: relative;
}

.dealer-side .dealer-cards .facedown::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: black;
    border: 2px solid brown;
    bottom: 0;
    content: "";
}

.card {
    height: 100%;
    width: 80px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem 1.5rem;
    position: relative;
    background-color: #fff;
}

.card::before, .card::after {
    content: attr(data-card);
    position: absolute;
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}